// Colors
$color-dark-green: #0a0b0b;
$color-dark-green-50: rgba(10, 11, 11, 0.5);
$color-white: #ffffff;
$color-white-25: rgba(255, 255, 255, 0.25);
$color-white-33: rgba(255, 255, 255, 0.33);
$color-white-50: rgba(255, 255, 255, 0.5);
$color-white-70: rgba(255, 255, 255, 0.7);
$color-white-80: rgba(255, 255, 255, 0.8);
$color-slate-blue: #6a5dc2;
$color-perano: #b4a9ff;
$color-black: #000000;
$color-black-40: rgba(0, 0, 0, 0.4);
$color-black-50: rgba(0, 0, 0, 0.5);
$color-salmon: #ff7575;
$color-quartz: #d6d2f1;
$color-medium-slate-blue: #8577e1;
$color-montana: #393b3c;
$color-heliotrope: #dc5dfc;
$color-night-rider: #333333;
$color-fire-brick: #c82020;
$color-lucky: #a59400;
$color-forest-green: #308e21;
$color-grey: #777777;
$logo-fill: url(#paint0_linear_13415_1240);
$logo-opacity-fill: url(#paint1_linear_13415_1240);

// Typography
$ff-main: 'Play', 'Arial', sans-serif;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;

// Animation
$transition-300: ease-in 0.3s;
